bin
bin/*.class
bin/*.dex
bin/*.apk
letmewb/manager/tmp
letmewb/manager/cache
letmewb/manager/app/tmp/cache/views
letmewb/manager/app/tmp/cache/models
letmewb/manager/app/tmp/cache/persistent
letmewb/manager/app/vendors/cache
*.log
proguard/*.txt
