<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.zrd.zr.letuwb"
	android:versionCode="7"
	android:versionName="2.01.00">
    <uses-sdk android:minSdkVersion="4" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission><!-- A.I. -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/><!-- A.I. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission><!-- A.I. -->
	<uses-permission android:name="android.permission.VIBRATE" /><!-- for com.sonyericcson.zoom -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE" /><!-- for umeng.com -->
	<!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> for ads -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/><!-- for google ads -->

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="false">
        <activity
            android:name=".EntranceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FilePickerActivity"
        	android:label="@string/app_name"
        	android:launchMode="singleTop"
        	android:configChanges="orientation|keyboardHidden">
        </activity>
        <!--  
        <activity android:name=".PicbrowActivity"
        	android:label="@string/app_name"
        	android:launchMode="singleTop"
        	android:configChanges="orientation|keyboardHidden">
        	<intent-filter>
        		<action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
        	</intent-filter>
        </activity>
        -->
        <activity android:name=".RegLoginActivity"
        	android:label="@string/app_name"
        	android:launchMode="singleTask"
        	android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity android:name=".UpdateActivity"
        	android:label="@string/app_name"
        	android:launchMode="singleTask"
        	android:theme="@android:style/Theme.Translucent"
        	android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity android:name=".AboutActivity"
        	android:label="@string/app_name"
        	android:launchMode="singleTask"
        	android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity android:name=".ImageActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <!-- google ads -->
        <activity android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"/>
        <!-- domob ads -->
        <activity android:name="cn.domob.android.ads.DomobActivity"
            android:theme="@android:style/Theme.Translucent" />
        <!-- adwo ads -->
        <activity android:name="com.adwo.adsdk.AdwoAdBrowserActivity"
            android:label="@string/app_name" />
		<!-- umeng.com -->
		<meta-data android:value="4e407b18431fe34ecf000021" android:name="UMENG_APPKEY"></meta-data>
		<meta-data android:value="domestic" android:name="UMENG_CHANNEL"></meta-data>
		<meta-data android:value="a70c97359fa37d4f01f1c9b0c834168b" android:name="KS_EXCHANGE_APPKEY" />
    </application>
</manifest>